.transleft-enter-to {
    transition: all 0.3s ease;
    transform: translateX(0);
}

.transleft-leave-active {
    transition: all 0.3s ease;
    transform: translateX(-100%);
}

.transleft-enter {
    transform: translateX(100%);
}

.transleft-leave {
    transform: translateX(0);
}

.transright-enter-to {
    transition: all 0.3s ease;
    transform: translateX(0);
}

.transright-leave-active {
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.transright-enter {
    transform: translateX(-100%);
}

.transright-leave {
    transform: translateX(0);
}

.transTop-enter-to {
    transition: all 0.3s ease;
    transform: translateY(0);
}

.transTop-leave-active {
    transition: all 0.3s ease;
    transform: translateY(100%);
    opacity: 0;
}

.transTop-enter {
    transform: translateY(-100%);
}

.transTop-leave {
    transform: translateY(0);
}

.transBottom-enter-to {
    transition: all 0.3s ease;
    transform: translateY(0);
}

.transBottom-leave-active {
    transition: all 0.3s ease;
    transform: translateY(-100%);
    opacity: 0;
}

.transBottom-enter {
    transform: translateY(100%);
}

.transBottom-leave {
    transform: translateY(0);
}

.transcitys-enter-to {
    transition: all 0.3s ease;
    transform: translateX(0);
}

.transcitys-leave-active {
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.transcitys-enter {
    transform: translateX(100%);
}

.transcitys-leave {
    transform: translateX(0);
}

.transhome-leave-active {
    transition: all 0.3s ease;
    transform: translateX(0);
    transform: translateY(0);
}

.transhome-leave {
    transform: translateX(0);
    transform: translateY(0);
}

.transyacht-enter-to {
    transition: all 0.3s ease;
    transform: translateY(0);
    opacity: 0;
}

.transyacht-leave-active {
    transition: all 0.3s ease;
    transform: translateY(100%);
    opacity: 0;
}

.transyacht-enter {
    transform: translateY(-100%);
    opacity: 0;
}

.transyacht-leave {
    transform: translateY(0);
}